{% load socialaccount static %}

{% get_providers as socialaccount_providers %}

<div class="social-login-container">
    {% for provider in socialaccount_providers %}
    <div class="social-login-row">
        {% if provider.id == "github" %}
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
           <img src="{% static 'Images/Group 2.png' %}" alt="{{ provider.name }}" height="90" width="90"/>
        </a>
        {% elif provider.id == "google" %}
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
           <img src="{% static 'Images/Group 3.png' %}" alt="{{ provider.name }}" height="90" width="90"/>
        </a>
        {% elif provider.id == "facebook" %}
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
           <img src="{% static 'Images/Group 4.png' %}" alt="{{ provider.name }}" height="90" width="90"/>
        </a>
        {% else %}
        <a title="{{ provider.name }}" class="socialaccount_provider {{ provider.id }}" 
           href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
           <img src="{% with 'images/'|add:provider.name|add:'.png' as image %}
                {% static image %}
                {% endwith %}" 
                alt="{{ provider.name }}" height="50" width="30"/>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
