.brain{
    width:500px;
    height:500px;
    margin-left: 50px;
    margin-block: 70px;
}
.heart>img{
    width:700px;
    height:300px;
    margin-left: 50px;
    margin-block: 130px;
}

.chatbot-content{
    display: flex;
    flex-direction: row;
    gap: 280px;
    margin-top: -25px;
}

